version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - .env
    depends_on:
      - redis
    ports:
      - "8000:8000"
    volumes:
      - staticfiles:/app/staticfiles
    restart: always

  celery:
    build: ./backend
    container_name: celery
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - staticfiles:/staticfiles
      - /var/www/certbot:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    restart: always

volumes:
  staticfiles:

